@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Solución al Examen 2</h1>
    <p>Realizado por el estudiante José Fernando Núñez Ocampo, B95616</p> 
    <p>Para dirigirse a la solución, seleccione la opción "Dispensador de Café" del menú.</p>
</div>
